@charset "utf-8";
/* ベース
-------------------------*/
body {
  color: #6c6c6f;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */
.header__logo img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.header__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
.footer {
  background-color: #202124;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer__inner {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__copy {
  color: #f6f6f6;
}

/* unit */
.unit__catch {
  margin-bottom: 20px;
  color: #256be6;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.unit__title {
  margin-bottom: 40px;
  color: #262934;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
}

.unit__text {
  margin-bottom: 40px;
}

/* card */

.card {
  width: 47.5%;
}
.card__icon {
  margin-bottom: 40px;
}

.card__title {
  margin-bottom: 15px;
  color: #202124;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.card__subtitle {
  color: #fa6980;
  font-size: 12px;
}

.more__item {
  margin-bottom: 60px;
}

.card__title:last-child {
  margin-bottom: 0;
}

.card .btn {
  margin-top: 40px;
}

.card__imgflex {
  margin-top: 22px;
  display: flex;
}

.card__imgtitle {
  font-size: 12px;
  margin-left: 10px;
}

/*more*/
.more__inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.more__inner .more__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.unit_title {
  font-size: 24px;
  color: #202124;
  margin-bottom: 30px;
}

.unit_title::before {
  content: "";
  border-left: solid 10px#FA6980;
  padding-right: 10px;
}

/*trending*/

.trending {
  background-color: #f6f6f6;
  padding: 60px;
}

.trending__inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.trending__flex {
  display: flex;
  justify-content: space-between;
}

.trending img {
  width: 100%;
}

.trending__card {
  width: 47.5%;
}

.trending__title {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
}

.trending__bc {
  background-color: #ffffff;
  padding: 35px;
}

/**/

.travel {
  padding-bottom: 60px;
}
.travel__inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.travel__title {
  margin-bottom: 15px;
  color: #202124;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  border-bottom: solid 1px #dddddd;
  padding-bottom: 15px;
}

.travel .btn {
  background-color: #202124;
}

/**/

.discovery__card {
  width: 30%;
}

/**/
.btn {
  display: block;
  width: 160px;
  margin-top: 25px;
  margin-left: auto;
  padding: 14px;
  background-color: #fa6980;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
